<div id="change-password-div">

	<form id="change-password-form" action='/sm/open/change-password'>
		<div class="alert alert-info" id="change-password-msg-div">
			<p>You can now change your password</p>
		</div>
		<div class="form-group">
			<label>Password:</label> <input type="password"
				class="form-control" name="pass1" id="pass1"/>
		</div>
		<div class="form-group">
			<label>Retype Password:</label> <input type="password"
				class="form-control" name="pass2" id="pass2"/>
		</div>
		<div class="form-group">
			<input id="change-password-button" type="button"
				class="btn btn-danger" value="Change Password" />
		</div>
	</form>
</div>