<div id="forgot-password-div">

	<form id="forgot-password-form" action='/sm/open/forgot-password'>
		<div class="alert alert-info" id="forgot-password-msg-div">
			<h4>Forgot your Password?</h4>
			<p>Enter your email or Registration ID</p>
			<p>A confirmation code will be sent to your email.</p>
		</div>
		<div class="form-group">
			<label>Email or Registration ID:</label> <input type="text"
				class="form-control" name="username" id="fp-username" />
		</div>
		<div class="form-group">
			<input id="forgot-password-button" type="button"
				class="btn btn-danger" value="Send Confirmation Code" />
		</div>
	</form>
</div>