<label for="workshop-name">Workshop Name:</label>
<select id="workshop-name" name="workshop-name" class="form-control">
	
	<option>Coaching Sales People For Performance</option>
	<option>Consultative Selling</option>
	<option>Developing A Winning Sales Presentation</option>
	<option>Developing & Implementing Winning Strategic Account
		Plans</option>
	<option>Indirect Channel Sales Bootcamp</option>
	<option>Interviewing, Hiring & Onboarding Top Sales Talent</option>
	<option>Negotiating Beyond Price & Tactical Approaches</option>
	<option>Presenting To Senior Executives</option>
	<option>Professional Selling Bootcamp</option>
	<option>Prospecting Bootcamp</option>
	<option>Relationship Marketing</option>
	<option>Retail Selling</option>
	<option>Sales-Call Management</option>
	<option>Sales Compensation Bootcamp</option>
	<option>Sales Pipeline Management</option>
	<option>Sales Pipeline Management Bootcamp</option>
	<option>Sales Promotion Bootcamp</option>
	<option>Sales Opportunity Management</option>
	<option>Selling to Senior Executives</option>
	<option>Situational Sales Negotiation</option>
	<option>Solution Selling Workshop</option>
	<option>Strategic Account Management</option>
	<option>Technology Sales Training Workshop</option>
	<option>The Telesales Bootcamp</option>
	<option>Trust Selling</option>
</select>